{% extends 'base.html' %}


{% block content %}

<div class="container" , style="margin-top: 40px;">
    {% for message in get_flashed_messages() %}
    {{message}}

    {% endfor %}
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-5 mb-4">
            <div class="card my-4">
                <div class="card-body">
                    <h3>Create Post</h3>
                    <form action="{{url_for('editPost', post_id = post.id)}}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="control-group form-group">
                            <div class="controls">
                                {{ form.title.label }}
                                {{ form.title(class='form-control', value= post.title ) }}
                            </div>
                        </div>
                        <div class="control-group form-group mb-2">
                            <div class="controls">
                                {{ form.subtitle.label }}
                                {{ form.subtitle(class='form-control', value= post.subtitle )}}

                            </div>
                        </div>
                        <div class="control-group form-group mb-2">
                            <div class="form-group">
                                {{ form.category.label }}
                                {{ form.category(class='form-control', selected = post.category) }}
                            </div>
                        </div>
                        <div class="control-group form-group mb-2">
                            <div class="controls">
                                {{ form.body.label }}
                                <textarea name="body" id="body" class="form-control" row='20'>{{ post.body }}</textarea>
                            </div>
                        </div>
                        <div class="control-group form-group mb-2">
                            <div class="controls">
                                {{ form.tags.label }}
                                {{ form.tags(class='form-control', value= post.tags) }}
                            </div>
                        </div>
                        {{ form.submit(class = 'btn btn-primary', value='Update') }}
                    </form>
                </div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form action="{{ url_for('search') }}" method="GET">
                        {{ form.hidden_tag() }}
                        <div class="input-group">
                            {{ search.field(placeholder = 'Search for ...', class = 'form-control')}}
                            <span class="input-group-append">
                                {{ search.go( class = 'btn btn-secondary') }}
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header"> <a href="/categories"> Categories </a></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                <li>
                                    <a href="/category/{{category.id}}">{{ category.name }}</a>
                                </li>
                                {% endfor %}

                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
        <div class="col-lg-2"></div>

    </div>
    <!-- /.row -->
</div>
{% endblock %}