{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<div class="container", style="margin-top: 40px;">
    {% for message in get_flashed_messages() %}
    <div class="row">
        <div class="col-md-12">
            <p class="alert alert-danger">{{message}}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5 mb-4">
             <div class="card my-4">
                 <div class="card-body">
                    <h3>Login</h3>
                    <form action="{{ url_for('login') }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="control-group form-group">
                            <div class="controls">
                                {{ wtf.form_field(form.email)}}
                            </div>
                        </div>
                        <div class="control-group form-group mb-2">
                            <div class="controls">
                                {{ wtf.form_field(form.password) }}
                            </div>
                        </div>
                        <div class="control-group form-group mb-2">
                            <div class="controls">
                                {{ wtf.form_field(form.remember) }}
                            </div>
                        </div>
                        {{ form.login(class = 'btn btn-primary') }} 
                    </form>
                    <p class="mt-3">or <a href="/signup">Sign Up?</a></p>
                </div>
            </div>
        </div>
    <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form action="{{ url_for('search') }}" method="GET">
                        {{ search.hidden_tag() }}
                        <div class="input-group">
                            {{ search.field(placeholder = 'Search for ...', class = 'form-control')}}
                            <span class="input-group-append">
                                {{ search.go( class = 'btn btn-secondary') }}
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header"> <a href="/categories"> Categories</a></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                <li>
                                    <a href="/category/{{category.id}}">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>

    </div>
</div>
<!-- /.row -->

{% endblock %}